<!DOCTYPE html>
<html>
<head>
  <title>HW4</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Appointment Application</h1>
<%= link_to "Physicians", physicians_path %>
<%= link_to "Patients", patients_path %>
<%= link_to "Appointments", appointments_path %>
<%= yield %>

</body>
</html>
