<p id="notice"><%= notice %></p>

<p>
  <b>Physician Name:</b>
  <%= @physician.name %>
</p>
<h3>Patients</h3>
<table>
  <tr>
    <th>Name </th>
    <th>Appointment Date</th>
    <th>Last Update On</th>
  </tr>

<% unless @physician.appointments.empty? %>
    <% for appointment in @physician.appointments %>

              <tr>
                <td><%= appointment.patient.name %></td>
                <td><%= appointment.appointment_date %></td>
                <td><%= appointment.updated_at %></td>
              </tr>
          <% end %>
        </table>
        </p>

    <% else %>
    <h4> No Patients Found</h4>
    <% end %>
<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
